.form-group.row
  .col-sm-2.col-form-label.pt-0
    = f.label :lfs_enabled, '大文件存储(LFS)'
  .col-sm-10
    .form-check
      = f.check_box :lfs_enabled, checked: @group.lfs_enabled?, class: 'form-check-input'
      = f.label :lfs_enabled, class: 'form-check-label' do
        %strong
          允许群组内的项目使用 Git LFS
          = link_to icon('question-circle'), help_page_path('workflow/lfs/manage_large_binaries_with_git_lfs')
        %br/
        %span.descr 这个设置可以在每个项目独立设置。
.form-group.row
  .col-sm-2.col-form-label
    = f.label s_('ProjectCreationLevel|Allowed to create projects')
  .col-sm-10
    = f.select :project_creation_level, options_for_select(::Gitlab::Access.project_creation_options, @group.project_creation_level), {}, class: 'form-control'

.form-group.row
  .col-sm-2.col-form-label.pt-0
    = f.label :require_two_factor_authentication, 'Two-factor authentication'
  .col-sm-10
    .form-check
      = f.check_box :require_two_factor_authentication, class: 'form-check-input'
      = f.label :require_two_factor_authentication, class: 'form-check-label' do
        %strong
          要求此群组内的用户均必须配置两步验证。
          = link_to icon('question-circle'), help_page_path('security/two_factor_authentication', anchor: 'enforcing-2fa-for-all-users-in-a-group')
.form-group.row
  .offset-sm-2.col-sm-10
    .form-check
      = f.text_field :two_factor_grace_period, class: 'form-control'
      .form-text.text-muted 允许用户跳过强制配置两步验证的时间（小时）
