= icon_for_profile_event(event)

= event_user_info(event)

.event-title.d-flex.flex-wrap
  = inline_event_icon(event)
    = event.action_name

  - if !event.target_type
    项目

  - if event.project
    = link_to_project event.project
  - else
    = event.project_name

  - if event.target
    %span.event-type.d-inline-block.append-right-4{ class: event.action_name }
      = event.action_name
    %span.event-target-type.append-right-4= event.target_type.titleize.downcase
    = link_to [event.project.namespace.becomes(Namespace), event.project, event.target], class: 'has-tooltip event-target-link append-right-4', title: event.target_title do
      = event.target.reference_link_text
    - unless event.milestone?
      %span.event-target-title.append-right-4{ dir: "auto" }
        = "&quot;".html_safe + event.target.title + "&quot".html_safe
  - else
    %span.event-type.d-inline-block.append-right-4{ class: event.action_name }
      = event_action_name(event)

  = render "events/event_scope", event: event
